body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
/* =====================================grid centralize======================== */
/* .grid{
   display: grid;
   place-items: center;
   height: 100vh;
   & .square{
    width: 100px;
    height: 100px;
    background-color: blue;
   }
    
} */
/* ----------------------------------flex-centeralize-------------------------------- */
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
    & .box{
        width: 100px;
        height: 100px;
        background-color: blue;
    }
} */
/* ==========================================margin================================ */

 /* .box{
  background-color: blueviolet;
margin-left: auto;
  margin-right: auto;
 
  width: 200px;
  height: 200px;
}   */



.box{
    height: 200px;
    width: 200px;
    animation-name: rotation;
    animation-duration: 10s;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* background-color: blueviolet; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    &:hover{
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
    }
    

}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
        background-color: brown;
    }
    10%{
        transform: rotate(90deg);
        background-color: red;
    }
    20%{
        transform: rotate(180deg);
        background-color: blueviolet;
    }
    30%{
        transform: rotate(270deg);
        background-color: palevioletred;
    }
    40%{
        transform: rotate(360deg);
        background-color: chocolate;
    }
    50%{
        transform: rotate(0deg);
        background-color: crimson;
    }
    60%{
        transform: rotate(90deg);
        background-color: yellowgreen;
    }
    70%{
        transform: rotate(180deg);
        background-color: greenyellow;
    }
    80%{
        transform: rotate(270deg);
        background-color: green;
    }
    90%{
        transform: rotate(360deg);
        background-color: rgb(33, 95, 33);
    }
    100%{
        transform: rotate(0deg);
        background-color: rgb(8, 167, 8);
    }

}